@model PetActivityTracker.Models.Pet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Pet</h1>

<h4>@Model.PetName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetId" />
            
            <div class="form-group">
                <label asp-for="PetName" class="control-label">Pet Name</label>
                <input asp-for="PetName" class="form-control" />
                <span asp-validation-for="PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodConsumption" class="control-label">Average Food Consumption</label>
                <input asp-for="FoodConsumption" class="form-control" />
                <span asp-validation-for="FoodConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterConsumption" class="control-label">Average Water Consumption</label>
                <input asp-for="WaterConsumption" class="form-control" />
                <span asp-validation-for="WaterConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.UserId">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
