@model IEnumerable<PetActivityTracker.Models.Pet>

@{
    ViewData["Title"] = "Pets";
}
<h1>Pets</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Average Food Consumption
            </th>
            <th>
                Average Water Consumption
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodConsumption) grams
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterConsumption) grams
            </td>
            <td>
                <a asp-controller="PetActivities" asp-action="Index" asp-route-id="@item.PetId">Activities</a>
            </td>
        </tr>
}
    </tbody>
</table>
