html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  color:blue;
}

body {
  margin-bottom: 60px;
}

.container {
    border-radius: 25px;
    border: outset cornflowerblue;
}

#login_form{
    border-radius:25px;
    background-color:cornflowerblue;
    margin:auto;

    width:50%;
    margin-left:25%;
}
header, footer{
    background-color:cornflowerblue;
}

h1{
    color:mediumslateblue;
}

h2{
    color:mediumslateblue;
}

.btn{
    margin-bottom:25px;
    background-color:darkslateblue;
}